// .vertical-text
//     writing-mode: vertical-rl 
//     writing-mode: horizontal-tb
//     /* vertical text from top to bottom */
//     transform: rotate(180deg) /* rotate the text to display from top to bottom */
//     display: flex
//     color: white

// .char
//     margin: 0 5px
.sidebar
    width: 200px /* Set your desired width */
    background-color: #333 /* Example sidebar background color */
    padding: 20px /* Adjust padding as needed */

.vertical-text
    display: flex
    flex-direction: column

    & li
        writing-mode: vertical-rl /* vertical text from bottom to top */
        transform: rotate(-180deg) /* rotate the text to display from bottom to top */
        list-style: none
        margin-bottom: 10px /* Adjust margin as needed */
